
<style>

body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  stroke: #C8C8D4;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
<div id="chart" class="chart"></div>
<script>

var margin = {top: 20, right: 80, bottom: 30, left: 50},
    width = 960 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;

var labels = {
  marissa_mayer: {
      name: "Marissa Mayer",
      company: "Yahoo",
      years: "2011-"
  },
  larry_ellison: {
      name: "Larry Ellison",
      company: "Oracle",
      years: "2011-"
  },
  john_donahoe: {
      name: "John Donahoe",
      company: "Ebay",
      years: "2011-"
  },
  meg_whitman: {
      name: "Meg Whitman",
      company: "HP",
      years: "2011-"
  },
  satya_nadella: {
      name: "Satya Nadella",
      company: "Microsoft",
      years: "2011-"
  },
  tim_cook: {
      name: "Tim Cook",
      company: "Apple",
      years: "2011-"
  },
};

function toggleLabel(label) {
  console.log(label);
}

function mainChart(data,color) {

  var x = d3.scale.linear()
      .range([0, width]);

  var y = d3.scale.linear()
      .range([height, 0]);

  var xAxis = d3.svg.axis()
      .scale(x);

  var yAxis = d3.svg.axis()
      .scale(y)
      .orient("left");

  var line = d3.svg.line()
      .defined(function(d) { return d.temperature != null; })
      .interpolate("basis")
      .x(function(d) { return x(d.date); })
      .y(function(d) { return y(d.temperature); });

  var eline = d3.svg.line()
      .defined(function(d) { return d.event != null; })
      .x(function(d) {  return x(d.date); })
      .y(function(d) {
        var eventOwner = JSON.parse(d.event).person;
        return y(d[eventOwner]);
      });

  // var efline = d3.svg.line()
  //     .defined(function(d) { return d.event != null; })
  //     .x(function(d) {  return x(d.date) - 20; })
  //     .y(function(d) {
  //       var eventOwner = JSON.parse(d.event).person;
  //       return y(d[eventOwner]);
  //     });

  var svg = d3.select("#chart").classed('chart',true).append("svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
    .append("g")
      .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

  var cities = color.domain().map(function(name) {

    return {
      name: name,
      values: data.map(function(d) {
        return {
          date: d.date,
          temperature: d[name] ? +d[name] : null,
        };
      })
    };
  });

  x.domain(["","365"]);

  y.domain(["-30","50"]);

  svg.append("defs").append("clipPath")
    .attr("id", "clip")
  .append("rect")
      .attr("width", width + margin.left)
    .attr("height", height + margin.bottom);

  svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0,296)")
      .call(xAxis);

  svg.append("g")
    	.attr("transform", "translate(" + margin.left + "," + margin.top + ")")
    	.attr("clip-path", "url(#clip)");

  svg.append("g")
      .attr("class", "y axis")
      .call(yAxis)
    .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text("Stock Price, NASDAQ Benchmark %");

  var city = svg.selectAll(".city")
      .data(cities)
    .enter().append("g")
      .attr("class", "city");

  var path = city.append("path")
      .attr("class", function(d) { return "line " + d.name; })
      .attr("d", function(d) { return line(d.values); })
      .style("stroke", function(d) { return color(d.name); });

  var eventDataOnly = data.filter(function(d) { if(d.event) { return d; }});

  //event rectangle
  var eventLabels = svg.selectAll(".eventLabels")
      .data(eventDataOnly)
      .enter().append("rect")
      .attr("class", function(d) { return "event label " + JSON.parse(d.event).person + "_" + d.date; })
        .attr("x", eline.x())
        .attr("y", eline.y())
        .attr("height", 50)
        .attr("width", 300)
        .attr("rx", 5)
        .attr("ry", 5)
        .style("opacity", 0)
        .style("fill", "white"  )
        .style("stroke", function(d) { return color(JSON.parse(d.event).person); });

  //event avatars
  var avatars = svg.selectAll(".eventLabels")
        .data(eventDataOnly)
        .enter()
        .append("image")
        .attr("class", function(d) { return "event label " + JSON.parse(d.event).person + "_" + d.date; })
        .attr("x",  function(d) { return x(d.date) - 20; })
        .attr("y", function(d) { return y(d[JSON.parse(d.event).person]); })
        .attr("width", 50)
        .attr("height", 50)
        .style("opacity", 0)
        .attr("xlink:href", function(d) { return "/images/" + JSON.parse(d.event).person + ".png"; })

  //event days label
  svg.selectAll(".eventLabels")
        .data(eventDataOnly)
        .enter()
        .append("text")
        .attr("class", function(d) { return "event label " + JSON.parse(d.event).person + "_" + d.date; })
        .attr("x", function(d) { return x(d.date) + 35; })
        .attr("y", function(d) { return y(d[JSON.parse(d.event).person]) + 15; })
        .text(function(d) { return d.date + " days on the job (" + (new Date(Date.parse(JSON.parse(d.event).date))).toDateString() + ")"; })
        .attr("font-size", "12px")
        .attr("fill", "#3F4548")
        .style("opacity", 0);

//labels[JSON.parse(d.event).person].name
//new Date(Date.parse(d.event.date))

  //event description
  svg.selectAll(".eventLabels")
        .data(eventDataOnly)
        .enter()
        .append("text")
        .attr("class", function(d) { return "event label " + JSON.parse(d.event).person + "_" + d.date; })
        .attr("x", function(d) { return x(d.date) + 50; })
        .attr("y", function(d) { return y(d[JSON.parse(d.event).person]); })
        .text(function(d) { return JSON.parse(d.event).desc; })
        .attr("font-size", "10px")
        .attr("fill", "#3F4548")
        .style("opacity", 0);

  //event arrow
  svg.selectAll(".eventLabels")
        .data(eventDataOnly)
        .enter()
        .append("image")
        .attr("class", function(d) { return "event label " + JSON.parse(d.event).person + "_" + d.date; })
        .attr("x",  function(d) { return x(d.date) + 250; })
        .attr("y", function(d) { return y(d[JSON.parse(d.event).person]) + 5; })
        .attr("width", 30)
        .attr("height", 30)
        .style("opacity", 0)
        .attr("xlink:href", function(d) {
          if (JSON.parse(d.event).change >= 0){
            return "/images/up.png";
          }else{
            return "/images/down.png";
          }
        });

    //event arrow text
    svg.selectAll(".eventLabels")
          .data(eventDataOnly)
          .enter()
          .append("text")
          .attr("class", function(d) { return "event label " + JSON.parse(d.event).person + "_" + d.date; })
          .attr("x",  function(d) {
            var len = (JSON.parse(d.event).change*100 +"%").length;
            console.log(len);
            return x(d.date) + 259 - len;
          })
          .attr("y", function(d) { return y(d[JSON.parse(d.event).person]) + 42; })
          .text(function(d) { return JSON.parse(d.event).change*100 +"%"; })
          .attr("font-size", "10px")
          .style("opacity", 0)
          .attr("fill", function(d) {
            if (JSON.parse(d.event).change >= 0){
              return "#4CAF50";
            }else{
              return "#F44336";
            }
          });



  var eventDots = svg.selectAll(".eventDots")
      .data(eventDataOnly)
      .enter().append("circle")
      .attr("class", function(d) { return "event dot " + JSON.parse(d.event).person + "_" + d.date; })
        .attr("cx", eline.x())
        .attr("cy", eline.y())
        .attr("r", 5)
        .style("fill", function(d) { return color(JSON.parse(d.event).person); })
        .on("mouseover", function(d) {
          var toToggle = d3.selectAll(".event.label." + JSON.parse(d.event).person + "_" + d.date);
          toToggle.transition()
          .style("opacity", 100)
          .duration(500) // this is .5s
          .delay(100)
          .ease();

          var toToggle = d3.selectAll(".event.dot" );
          toToggle.transition()
          .style("opacity", 0);

        }).on("mouseout", function(d) {
          var toToggle = d3.selectAll(".event.label." + JSON.parse(d.event).person + "_" + d.date);
          toToggle.transition()
            .style("opacity", 0)
          .duration(500) // this is .5s
          .delay(100)
          .ease();

          var toToggle = d3.selectAll(".event.dot" );
          toToggle.transition()
          .style("opacity", 1);
        });

  svg.selectAll(".city").attr("clip-path", "url(#clip)");

  var xscaleFactor = (x.range()[1] - x.range()[0])/(x.domain()[1] - x.domain()[0]);
  var yscaleFactor = (y.range()[1] - y.range()[0])/(y.domain()[1] - y.domain()[0]);

  var zoom = d3.behavior.zoom()
      .x(x)
      .y(y)
      .scaleExtent([0.5,2])
      .on('zoom', function() {
        var t = zoom.translate(),
          tx = t[0],
          ty = t[1];

        tx = Math.min(tx, 0);

        zoom.translate([tx, ty]);

        path.attr("transform", "translate(" + tx + ","+ ty + ") scale(" + d3.event.scale +")");
        svg.selectAll(".event").attr("transform", "translate(" + tx + ","+ ty + ") scale(" + d3.event.scale +")");
        svg.selectAll(".event.label").attr("transform", "translate(" + tx + ","+ ty + ") scale(" + d3.event.scale +")");

        svg.select('.x.axis').call(xAxis);
        svg.select('.y.axis').call(yAxis);
  });

  d3.select('svg').attr('cursor', 'move')
        .call(zoom)
        .on("mousewheel.zoom", null)
        .on("DOMMouseScroll.zoom", null);

  svg.call(zoom);

}

function toggle(name){
  var toToggle = d3.select(".line." + name);

  toToggle.transition()
  .style("opacity", toToggle.style("opacity") == 0 ? 100 : 0)
  .duration(500) // this is .5s
  .delay(100)
  .ease();
}

function rightToggles(filedata,color) {

  var toggleWidth = 150,
    toggleHeight = height;

  var toggles = d3.select('#chart').classed('chart', true).append('svg')
    .classed('toggles', true)
    .attr('width', 150)
    .attr('height', toggleHeight + margin.top + margin.bottom)
    .append('g');

  color.domain().forEach(function(name, i){

    var circle = toggles.append("circle")
          .attr("cx", 29)
          .attr("cy", 41+(i*83))
          .attr("r", 28)
          .attr("class", name)
          .attr('cursor', 'pointer')
          .style("stroke", color(name))
          .style("fill", color(name))
          .style("opacity", 0.7);

    var nameLabel = toggles.append("text")
          .attr("x", 65)
          .attr("y", 31+(83*i))
          .text(labels[name].name)
          .attr("font-size", "12px")
          .attr("fill", "#3F4548")
          .style("opacity", 0.9);

    var companyLabel = toggles.append("text")
          .attr("x", 65)
          .attr("y", 46+(83*i))
          .text(labels[name].company)
          .attr("font-size", "12px")
          .attr("fill", "#3F4548")
          .style("opacity", 0.7);

    var yearsLabel = toggles.append("text")
          .attr("x", 65)
          .attr("y", 61+(83*i))
          .text("("+ labels[name].years +")")
          .attr("font-size", "10px")
          .attr("fill", "#3F4548")
          .style("opacity", 0.7);

    var avatar = toggles.append("image")
          .attr("x", 4)
          .attr("y", 16+(83*i))
          .attr("width", 50)
          .attr("height", 50)
          .attr("xlink:href", "/images/" + name + ".png")
          .attr("clip-path", "url(#clip_"+name+")");

    circle.on("click", function() {
      toggle(name);
    });

  });



}

d3.tsv("/data/ceo.csv", function(error, filedata) {
  if (error) throw error;

  var color = d3.scale.category10();
  color.domain(d3.keys(filedata[0]).filter(function(key) { return (key !== "date" && key !== "event"); }));

  mainChart(filedata,color);
  rightToggles(filedata,color);
});






</script>
